<% if flash[:notice].present?%>
    <%= flash[:notice] %> 
<% end %> </br>
<table class="table" border="1">
    <thead class="thead-dark">
        <tr>
            <th>balance</th>
            <th>student_id</th>
            <th>teacher_id</th>
            <th colspan="3" style="text-align:center">Action</th>
        </tr>
    </thead>
    <% @pockets.each do |item| %>
        <tr>
            <td><%= item.balance %></td>
            <td><%= item.student_id %></td>
            <td><%= item.teacher_id %></td>
            <td><%= link_to 'Detail', pocket_path(item) %></td>
            <td><%= link_to 'Edit', edit_pocket_path(item) %></td>
            <td><%= link_to 'Delete', pocket_path(item), method: :delete, data:{confirm:"Apa anda yakin akan menghapus data ini ?"} %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'Create', new_pocket_path %>