<% if flash[:notice].present?%>
    <%= flash[:notice] %> 
<% end %> </br>

balance : <%=  @pocket.balance %> </br>
student_id : <%= @pocket.student_id %> </br>
teacher_id : <%= @pocket.teacher_id %> </br>

<%= link_to 'back to table pocket', pockets_path %>