<% if flash[:notice].present?%>
    <%= flash[:notice] %> 
<% end %> </br>
<table class="table" border="1">
<thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Kelas</th>
        <th>Age</th>
        <th>Address</th>
        <th>City</th>
        <th>NIK</th>
        <th colspan="3" style="text-align:center">Action</th>
    </tr>
</thead>
    <% @students.each do |item| %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.username %></td>
            <td><%= item.kelas %></td>
            <td><%= item.age %></td>
            <td><%= item.address %></td>
            <td><%= item.city %></td>
            <td><%= item.nik %></td>
            <td><%= link_to 'Detail', student_path(item) %></td>
            <td><%= link_to 'Edit', edit_student_path(item) %></td>
            <td><%= link_to 'Delete', student_path(item), method: :delete, data:{confirm:"Apa anda yakin akan menghapus data ini ?"} %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'Create', new_student_path %>