<% if flash[:notice].present?%>
    <%= flash[:notice] %> 
<% end %> </br>

name : <%=  @student.name %> </br>
username : <%= @student.username %> </br>
kelas : <%= @student.kelas %> </br>
age : <%= @student.age %> </br>
address : <%= @student.address %> </br>
city : <%= @student.city %> </br>
nik : <%= @student.nik %> </br>

<%= link_to 'back to table student', students_path %>