<% if flash[:notice].present?%>
    <%= flash[:notice] %> 
<% end %> </br>
<table class="table" border="1">
    <thead class="thead-dark">
        <tr>
            <th>NIK</th>
            <th>Name</th>
            <th>Kelas</th>
            <th>Age</th>
            <th>Mapel</th>
            <th colspan="3" style="text-align:center">Action</th>
        </tr>
    </thead>
    <% @teachers.each do |item| %>
        <tr>
            <td><%= item.nik %></td>
            <td><%= item.name %></td>
            <td><%= item.kelas %></td>
            <td><%= item.age %></td>
            <td><%= item.mapel %></td>
            <td><%= link_to 'Detail', teacher_path(item) %></td>
            <td><%= link_to 'Edit', edit_teacher_path(item) %></td>
            <td><%= link_to 'Delete', teacher_path(item), method: :delete, data:{confirm:"Apa anda yakin akan menghapus data ini ?"} %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'Create', new_teacher_path %>