<% if flash[:notice].present?%>
    <%= flash[:notice] %> 
<% end %> </br>

nik : <%=  @teacher.nik %> </br>
name : <%= @teacher.name %> </br>
kelas : <%= @teacher.kelas %> </br>
age : <%= @teacher.age %> </br>
mapel : <%= @teacher.mapel %> </br>

<%= link_to 'back to table teacher', teachers_path %>