<% if flash[:notice].present?%>
    <%= flash[:notice] %> 
<% end %> </br>
<table class="table" border="1">
    <thead class="thead-dark">
    <tr>
        <th>ID_Transaction</th>
        <th>status</th>
        <th>upload</th>
        <th colspan="3" style="text-align:center">Action</th>
    </tr>
    </thead>
    <% @payments.each do |item| %>
        <tr>
            <td><%= item.id_transaction %></td>
            <td><%= item.status %></td>
            <td><%= item.upload %></td>
            <td><%= link_to 'Detail', payment_path(item) %></td>
            <td><%= link_to 'Edit', edit_payment_path(item) %></td>
            <td><%= link_to 'Delete', payment_path(item), method: :delete, data:{confirm:"Apa anda yakin akan menghapus data ini ?"} %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'Create', new_payment_path %>