<% if flash[:notice].present?%>
    <%= flash[:notice] %> 
<% end %> </br>

id_transaction : <%=  @payment.id_transaction %> </br>
status : <%= @payment.status %> </br>
upload : <%= @payment.upload %> </br>

<%= link_to 'back to table payment', payments_path %>