<% if flash[:notice].present?%>
    <%= flash[:notice] %> 
<% end %> </br>
<table class="table" border="1">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Mapel</th>
            <th>Duration</th>
            <th>Nilai</th>
            <th>Status</th>
            <th>Level</th>
            <th>Student_ID</th>
            <th colspan="3" style="text-align:center">Action</th>
        </tr>
    </thead>
    <% @exams.each do |item| %>
        <tr>
            <td><%= item.title %></td>
            <td><%= item.mapel %></td>
            <td><%= item.duration %></td>
            <td><%= item.nilai %></td>
            <td><%= item.status %></td>
            <td><%= item.level %></td>
            <td><%= item.student_id %></td>
            <td><%= link_to 'Detail', exam_path(item) %></td>
            <td><%= link_to 'Edit', edit_exam_path(item) %></td>
            <td><%= link_to 'Delete', exam_path(item), method: :delete, data:{confirm:"Apa anda yakin akan menghapus data ini ?"} %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'Create', new_exam_path %>