<% if flash[:notice].present?%>
    <%= flash[:notice] %> 
<% end %> </br>

title : <%=  @exam.title %> </br>
mapel : <%= @exam.mapel %> </br>
duration : <%= @exam.duration %> </br>
nilai : <%= @exam.nilai %> </br>
status : <%= @exam.status %> </br>
level : <%= @exam.level %> </br>
student_id : <%= @exam.student_id %> </br>

<%= link_to 'back to table exam', exams_path %>