<% if flash[:notice].present?%>
    <%= flash[:notice] %> 
<% end %> </br>
<table class="table" border="1">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Hasil</th>
            <th>Mapel</th>
            <th>Teacher_ID</th>
            <th>Student_ID</th>
            <th>date</th>
            <th colspan="3" style="text-align:center">Action</th>
        </tr>
    </thead>
    <% @reports.each do |item| %>
        <tr>
            <td><%= item.title %></td>
            <td><%= item.hasil %></td>
            <td><%= item.mapel %></td>
            <td><%= item.teacher_id %></td>
            <td><%= item.student_id %></td>
            <td><%= item.date %></td>
            <td><%= link_to 'Detail', report_path(item) %></td>
            <td><%= link_to 'Edit', edit_report_path(item) %></td>
            <td><%= link_to 'Delete', report_path(item), method: :delete, data:{confirm:"Apa anda yakin akan menghapus data ini ?"} %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'Create', new_report_path %>