<% if flash[:notice].present?%>
    <%= flash[:notice] %> 
<% end %> </br>

title : <%=  @report.title %> </br>
hasil : <%= @report.hasil %> </br>
mapel : <%= @report.mapel %> </br>
teacher_id : <%= @report.teacher_id %> </br>
student_id : <%= @report.student_id %> </br>
date : <%= @report.date %> </br>

<%= link_to 'back to table report', reports_path %>